{% extends "layout.html" %}

{% block title %}Escribir un valor{% endblock %}

{% block head %}
{{ super() }}

<script type="text/javascript"
        integrity="sha384-Htz1SE4Sl5aitpvFgr2j0sfsGUIuSXI6t8hEyrlQ93zflEF3a29bH2AvkUROUw7J"
        crossorigin="anonymous"
        src="https://cdn-cors.ethers.io/lib/ethers-5.7.2.umd.min.js">
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        if (typeof window.ethereum !== 'undefined') {
            console.log('MetaMask is installed!');

            document.getElementById('formulario').addEventListener('submit', async function (event) {
                event.preventDefault(); // Evita que el formulario se envíe inmediatamente

                const accounts = await window.ethereum.request({method: 'eth_requestAccounts'});
                if (accounts.length > 0) {
                    console.log('Connected account:', accounts[0]);
                    // Aquí puedes realizar acciones adicionales con la cuenta seleccionada
                    document.getElementById("direccion_origen").value = accounts[0];
                    // Ahora puedes enviar el formulario
                    event.target.submit();
                } else {
                    alert('Por favor, selecciona una cuenta en MetaMask.');
                }
            });
        } else {
            alert('MetaMask no está instalado. Por favor, instálalo para continuar.');
        }
    });
</script>
{% endblock %}

{% block content %}
<h1 class="mb-5">Escribir un valor en el contrato</h1>

<!-- Para escribir un valor en el contrato en la llamada a la función Store, le tenemos que decir desde que address se ha
     hecho la llamada ya que esta información se guarda en el bloque para así poder auditar quién hace cada cambio en el
     contrato. -->

<form id="formulario" action="" method="post">
    <input type="hidden" id="direccion_origen" name="direccion_origen" value=""/>
    <div class="card col-6 p-3">
        <div class="mb-3">
            <label class="form-label" for="direccion_destino">Dirección en la que escribir</label>
            <input class="form-control" type="text" id="direccion_destino" name="direccion_destino"
                   placeholder="0xB6EB7551156c64FD2aB0128d14e6ff12E4c9d632"
                   minlength="42" maxlength="42" required/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="numero">Número a escribir (0-100)</label>
            <input class="form-control" type="number" id="numero" name="numero" min="0" max="100" value="0" required/>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Enviar</button>
        </div>
    </div>
</form>

<a class="btn btn-secondary mt-5" href="/">Volver</a>
{% endblock %}
